#Logo #LogoContainer a { display: inline-block; }

#Logo #LogoContainer a img { margin-right: 10px; }

#Logo #LogoContainer h1 { display: inline-block; }

#Logo #LogoContainer h1 a { color: #569300 !important; }

#Logo #LogoContainer h1 a span#slogan { color: #797979; display: block; letter-spacing: 0.5px; font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif; font-size: 24px; font-weight: 300; }

.slide-show-render.slide-show { top: 0; }

#index-stretch-banner { text-align: center; position: relative; margin-bottom: 10px; }

#index-stretch-banner h2 { text-shadow: 0 3px 2px #000; color: #fff; text-transform: none; font-size: 30px; position: absolute; top: 30px; width: 100%; }

#index-stretch-banner img { width: 978px; height: 98px; border: 1px solid #000; }

body#index #Wrapper { padding-top: 10px; }

body#index #Wrapper table.plant-pot-blog-banner td { padding: 0; }

body#index #Wrapper table.plant-pot-blog-banner#text h3 { position: absolute; color: #fff; text-shadow: 2px 4px 4px #000; font-size: 72px; width: 320px; padding-top: 42px; padding-left: 14px; }

body#index #Wrapper #tagline { text-align: center; padding: 10px 0; }

body#index #Wrapper #tagline h3 { text-transform: none; font-size: 24px; }

.PostBody p { font-size: 1rem; line-height: 1.4; }

.PostBody a { color: #569300; text-decoration: underline; }

.PostBody a:hover { text-decoration: none; color: #2199E8; }

table#top-5-easiest-office-floor-plants img { max-width: 220px; }

table#case-for-quality-plants img { max-width: 300px; }

table.borderless td { border: 0; }

.button, .small.button { padding: 5px 10px !important; text-decoration: none !important; text-transform: uppercase !important; background: #569300; border-radius: 5px !important; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); letter-spacing: 1px; color: #fff; font-family: "Montserrat", Helvetica, Arial, sans-serif; border: 2px solid #569300; }

.button:hover { background: #fff; box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3); color: #000 !important; }

.small.button { font-size: 14px; }

.header-font { font-family: "Montserrat", Helvetica, Arial, sans-serif; }

.body-font { font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif; }

.shadow-1 { box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }

.shadow-2 { box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3); }

.shadow-3 { box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3); }

.shadow-4 { box-shadow: 0 0.875rem 0.75rem 0 rgba(0, 0, 0, 0.17), 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.3); }

.shadow-5 { box-shadow: 0 1.0625rem 1.0625rem 0 rgba(0, 0, 0, 0.15), 0 1.6875rem 3.4375rem 0 rgba(0, 0, 0, 0.3); }
