%%Panel.HTMLHead%%
<body>
<div id="Container">
    %%Panel.Header%%
    %%Panel.custom-sidebar%%
    
    <div id="Wrapper" class="custom-wrapper">
        %%Panel.WrapperBanner%%
        %%Panel.PageBreadcrumb%%
        <h1 class="PageHeader">%%GLOBAL_PageTitle%%</h1>
        <div class="Wide Content" id="LayoutColumn1">
            %%Panel.PageContent%%
            %%Panel.PageComments%%
            %%Banner.BottomBanner%%
        </div>
        <div class="Right" id="LayoutColumn2">
            %%Panel.SideNewProducts%%
        </div>
        <br class="Clear" />
    </div>
    %%Panel.Footer%%
</div>
</body>
</html>
​