%%Panel.HTMLHead%%
<body id="index">
<div id="Container">
	<!-- %%Panel.Header%% -->
	<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
	%%GLOBAL_MaintenanceNotice%%

	<div id="Outer">
		<div id="Header">
			<div id="Logo">
				<div id="LogoContainer">
					<a href="%%GLOBAL_ShopPathNormal%%/"><img srcset="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/masthead-logo-2x.png 2x" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/masthead-logo.png" alt="Houston Interior Plants Logo" style="height: 100px; width: auto;"></a>
					<h1><a href="%%GLOBAL_ShopPathNormal%%/"><span class="Logo1stWord">Houston</span> Interior Plants <span id="slogan">The most convenient way to shop for indoor plants &amp; pots in Houston!</span></a></h1>
				</div>
			</div>
			<div id="HeaderUpper">
				%%Panel.TopMenu%%
				%%Panel.HeaderSearch%%
				%%Panel.SideCurrencySelector%%
			</div>
			<div id="HeaderLower">
				%%Panel.SideCategoryList%%
				%%Panel.PagesMenu%%
			</div>
		</div>
		<div class="plant-contact-banner tall">
			<div class="prose">
				<h4>Have a question or need help?</h4>
				<p>Call us Mon/Fri 8:30 to 3:30 CT <br>
				713-864-1802 <br>
				<a class="standard" href="mailto:lissette@greencaretx.com?Subject=I%20have%20a%20question%20about%20an%20HIP%20product" target="_top">Email Us</a>
				</p>
			</div>
		</div>
	%%Panel.custom-sidebar%%

	<div id="Wrapper" class="custom-wrapper">
		<table class="plant-pot-blog-banner" id="text" style="margin-top: 10px; height: 320px; width: 980px;" border="0" align="center">
			<tbody>
				<tr>
					<td id="plants" style="border: 0;"><a href="/shop-for-plants/"><h3>Shop <br>For <br>Plants</h3><img class="__mce_add_custom__" title="Shop For Plants Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/shop-plants.jpg" alt="Shop For Plants Link" width="320" height="320" /></a></td>
					<td id="pots" style="border: 0;"><a href="/shop-for-pots/"><h3>Shop <br>For <br>Pots</h3><img class="__mce_add_custom__" title="Shop For Pots Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/shop-pots-brown-2.jpg" alt="Shop For Pots Link" width="320" height="320" /></a></td>
					<td id="services" style="border: 0;"><a href="/shop-for-services/"><h3>Shop <br>For <br>Services</h3></h3><img class="__mce_add_custom__" title="Shop For Services Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/service-1-flip.jpg" alt="Shop For Services Link" width="320" height="320" /></a></td>
				</tr>
			</tbody>
		</table>
		<div id="tagline">
			<h3>Premium live indoor floor plants, ready to be delivered to your home and office!</h3>
		</div>
		<!-- %%Banner.TopBanner%% -->
		%%Panel.WrapperBanner%%
		<div class="Content Widest" id="LayoutColumn1">
			%%Panel.HomeFeaturedProducts%%
			<!-- <div id="index-stretch-banner">
				<h2>Houston's Online Indoor Plants Store &amp; Nursery</h2>
				<img src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/stretch-banner-1.jpg" alt="Houston Interior Plants Stretch Banner">
			</div> -->
			<div id="index-summary" style="margin-bottom: 30px;">
				<h2 style="margin: 0; padding: 0 0 10px; font-size: 32px; letter-spacing: 0; text-transform: none; color: #808080;">Houston's Online Indoor Plants Store &amp; Nursery</h2>
				<ul>
					<li>Buy your plants online today, we'll deliver them, set them up and install them for you.</li>
					<li>Best selection under one roof of house floor plants, tall office plants &amp; decorative plant pots.</li>
					<li>Premium professional grade interior tropical plants only.</li>
					<li>Optional Maintenance Service. </li>
					<li>Guaranteed fresh, beautiful and healthy or your money back.</p></li>
				</ul>
			</div>
			<div id="plant-service-banner">
				<h3>Are you looking for a plant service for your home or office?</h3>
				<p>Contact us for an on-site consultation and free personalized matenance service estimate.</p>
				<p>Please visit our interior plant services website for more information | <a class="standard" href="http://greencaretx.com/" target="_blank">www.GreencareTX.com</a></p>
			</div>
			<span style="display: none; visibility: hidden;">
				%%Panel.HomeSlideShow%%
				<div class="hero clearfix">
					<a id="slide_prev" class="prev" href="#">&lt;</a>
					<a id="slide_next" class="next" href="#">&gt;</a>
				</div>
			</span>
			%%Discount.FreeShippingEligibility%%
			<!-- %%Panel.HomeFeaturedProducts%% -->
			%%Banner.BottomBanner%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>
