%%Panel.HTMLHead%%
<body id="index">
<div id="Container">
	%%Panel.Header%%

	<div class="custom-sidebar">
		<div class="panel" id="how-do-i">
			<h4 class="panel-label">How do I...</h4>
			<ul>
				<li><a href="/blog/how-do-i-choose-a-plant/">How do I choose a plant?</a></li>
				<li><a href="/blog/how-do-i-choose-the-right-pot/">How do I choose the right pot?</a></li>
				<!-- <li><a href="/blog/how-do-i-design-with-plants/">How do I design with plants?</a></li> -->
			</ul>
		</div>
		<div class="panel" id="more-info">
			<h4 class="panel-label">More Info</h4>
			<ul>
				<li><a href="/blog/top-10-best-indoor-plants/">Top 10 Best Indoor Plants</a></li>
				<!-- <li><a href="#">Top Air-Purifying Plants</a></li> -->
				<li><a href="/blog/the-case-for-quality-plants/">The Case for Quality Plants</a></li>
			</ul>
		</div>
		<div id="bbb-link">
			<a href="http://www.bbb.org/houston/business-reviews/plants-interior-design-and-maintenance/greencare-interior-plants-in-houston-tx-90013846/" target="_blank"><img src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/bbb-logo.jpg" srcset="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/bbb-logo-2x.jpg 2x" alt="Better Business Logo Link"></a>
		</div>
		<div id="usa-grown">
			<table class="plain">
				<tbody>
					<tr>
						<td><img src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/usa-flag-temp.png" alt="USA Flag"></td>
						<td>All of our plants are grown in the USA</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel" id="delivery">
			<h4 class="panel-label">Free Delivery</h4>
			<p>Free delivery inside Beltway 8 with $99 purchase.</p>
			<p>See our <a href="/delivery-policy/">delivery policy</a>.</p>
		</div>
		<div class="panel" id="new-store">
			<h4 class="panel-label">Visit our new store!</h4>
			<p style="margin-bottom: 0;">Jardin de France</p>
			<p style="font-size: 14px;"><i>Home &amp; Patio Decor</i></p>
			<p><a style="font-size: 15px;" href="http://jardindefrancetx.com" target="_blank">www.JardinDeFranceTX.com</a></p>
			<a href="https://goo.gl/maps/vgsEJf8Uqdp" target="_blank">4819 Blossom St <br>Houston, TX <br>77007</a>
		</div>
	</div>

	<div id="Wrapper" class="custom-wrapper">
		<table class="plant-pot-blog-banner" id="text" style="margin-top: 10px; height: 320px; width: 980px;" border="0" align="center">
			<tbody>
				<tr>
					<td id="plants" style="border: 0;"><a href="/shop-for-plants/"><h3>Shop <br>For <br>Plants</h3><img class="__mce_add_custom__" title="Shop For Plants Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/shop-plants.jpg" alt="Shop For Plants Link" width="320" height="320" /></a></td>
					<td id="pots" style="border: 0;"><a href="/shop-for-pots/"><h3>Shop <br>For <br>Pots</h3><img class="__mce_add_custom__" title="Shop For Pots Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/shop-pots-brown-2.jpg" alt="Shop For Pots Link" width="320" height="320" /></a></td>
					<td id="services" style="border: 0;"><!-- <a href="#"> --><h3>Shop <br>For <br>Services</h3><span>Coming Soon!</span></h3><img class="__mce_add_custom__" title="Shop For Services Link" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/service-1-flip.jpg" alt="Shop For Services Link" width="320" height="320" /><!-- </a> --></td>
				</tr>
			</tbody>
		</table>
		<div id="tagline">
			<h3>Premium live indoor floor plants, ready to be delivered to your home and office!</h3>
		</div>
		<!-- %%Banner.TopBanner%% -->
		%%Panel.WrapperBanner%%
		<div class="Content Widest" id="LayoutColumn1">
			%%Panel.HomeFeaturedProducts%%
			<!-- <div id="index-stretch-banner">
				<h2>Houston's Online Indoor Plants Store &amp; Nursery</h2>
				<img src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/stretch-banner-1.jpg" alt="Houston Interior Plants Stretch Banner">
			</div> -->
			<div id="index-summary" style="margin-bottom: 30px;">
				<h2 style="margin: 0; padding: 0 0 10px; font-size: 32px; letter-spacing: 0; text-transform: none; color: #808080;">Houston's Online Indoor Plants Store &amp; Nursery</h2>
				<ul>
					<li>Buy your plants online today, we'll deliver them, set them up and install them for you.</li>
					<li>Best selection under one roof of house floor plants, tall office plants &amp; decorative plant pots.</li>
					<li>Premium professional grade interior tropical plants only.</li>
					<li>Optional Maintenance Service. </li>
					<li>Guaranteed fresh, beautiful and healthy or your money back.</p></li>
				</ul>
			</div>
			<div id="plant-service-banner">
				<h3>Are you looking for a plant service for your home or office?</h3>
				<p>Contact us for an on-site consultation and free personalized matenance service estimate.</p>
				<p>Please visit our interior plant services website for more information | <a class="standard" href="http://greencaretx.com/" target="_blank">www.GreencareTX.com</a></p>
			</div>
			<span style="display: none; visibility: hidden;">
				%%Panel.HomeSlideShow%%
				<div class="hero clearfix">
					<a id="slide_prev" class="prev" href="#">&lt;</a>
					<a id="slide_next" class="next" href="#">&gt;</a>
				</div>
			</span>
			%%Discount.FreeShippingEligibility%%
			<!-- %%Panel.HomeFeaturedProducts%% -->
			%%Banner.BottomBanner%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>