<table id="shop-for-pots" class="shop-for-pots">
	<tbody>
		<tr>
			<td><a href="/shop-for-pots/home-collection/traditional/"><img class="__mce_add_custom__" title="Shop Traditional Collection" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/loft-collection.jpg" alt="Shop Traditional Collection" width="220" height="220" /><span>Traditional Collection</span></a></td>
			<td><a href="/shop-for-pots/home-collection/contemporary/"><img class="__mce_add_custom__" title="Shop Contemporary Collection" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/home-collection.jpg" alt="Shop Contemporary Collection" width="220" height="220" /><span>Contemporary Collection</span></a></td>
			<td><a href="/shop-for-pots/home-collection/front-door-patio/"><img class="__mce_add_custom__" title="Shop Front Door &amp; Patio Collection" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/anduze-vase.jpg" alt="Shop Front Door &amp; Patio Collection" width="220" height="220" /><span>Front Door &amp; Patio Collection</span></a></td>
		</tr>
	</tbody>
</table>