@import "../../_settings.scss";

@import "_featured-products-banner.scss";
@import "_slide-show.scss";
@import "_stretch-banner.scss";

body#index {
	#Wrapper {
		padding-top: 10px;

		table.plant-pot-blog-banner {
			td {
				padding: 0;
			}
		}

		table.plant-pot-blog-banner#text {
			img {
				border: 1px solid #000; 
				display: block; 
				margin: 0 auto;
			}
			
			h3 {
				position: absolute;
				color: #fff;
				text-shadow: 2px 4px 4px #000;
				// font-size: 72px;
				font-size: 60px;
				width: 320px;
				padding-top: 42px;
				padding-left: 14px;
			}

			td#services {
				span {
					position: absolute; 
					padding-top: 260px; 
					color: #fff; 
					text-shadow: 2px 4px 4px #000; 
					font-size: 35px; 
					padding-left: 14px;
				}
			}
		}

		#tagline {
			text-align: center;
			padding: 10px 0;
			margin-bottom: 16px;
			
			h3 {
				text-transform: none;
				font-size: 23px;
				letter-spacing: 0;
				color: $primary-green;
			}
		}
	}
}

#index-summary {
	margin-bottom: 30px;

	ul {
		// margin-bottom: 0;
		li {
			font-size: 18px;
			line-height: 1.4;
		}
	}
}

#plant-service-banner {
	margin-bottom: 30px;
	background: #E8E8E8;
	padding: 12px;
	display: inline-block;
	border-radius: 6px;
	box-shadow: $z-1;

	h3 {
		color: #569300; 
		text-transform: none; 
		margin-bottom: 8px; 
		font-size: 20px; 
		letter-spacing: 0;
	}

	p {
		margin-bottom: 6px; 
		font-size: 16px;
	}
}

