<table id="by-plant-type" class="shop-for-plants">
	<tbody>
		<tr>
			<td><a href="/shop-for-plants/by-plant-type/palms/"><img class="__mce_add_custom__" title="Palms" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/palms.jpg" alt="Palms" width="150" height="225" /><span>Palms</span></a></td>
			<td><a href="/shop-for-plants/by-plant-type/ficus-and-trees/"><img class="__mce_add_custom__" title="Ficus &amp; Trees" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/ficus.jpg" alt="Ficus &amp; Trees" width="150" height="225" /><span>Ficus &amp; Trees</span></a></td>
			<td><a href="/shop-for-plants/by-plant-type/dracaenas-and-more/"><img class="__mce_add_custom__" title="Dracaenas &amp; More" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/dracaenas.jpg" alt="Dracaenas &amp; More" width="150" height="225" /><span>Dracaenas &amp; More</span></a></td>
			<td><a href="/shop-for-plants/by-plant-type/succulents-and-more/"><img class="__mce_add_custom__" title="Succulents &amp; More" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/succulents.jpg" alt="Succulents &amp; More" width="150" height="225" /><span>Succulents &amp; More</span></a></td>
		</tr>
	</tbody>
</table>