        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%

        <div id="Outer">
            <div id="Header">
                <div id="Logo">
                    <div id="LogoContainer">
                        <a href="%%GLOBAL_ShopPathNormal%%/"><img srcset="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/masthead-logo-2x.png 2x" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/masthead-logo.png" alt="Houston Interior Plants Logo" style="height: 100px; width: auto;"></a>
                        <h1><a href="%%GLOBAL_ShopPathNormal%%/"><span class="Logo1stWord">Houston</span> Interior Plants <span id="slogan">The most convenient way to shop for indoor plants &amp; pots in Houston!</span></a></h1>
                    </div>
                </div>
                <div id="HeaderUpper">
                    %%Panel.TopMenu%%
                    %%Panel.HeaderSearch%%
                    %%Panel.SideCurrencySelector%%
                </div>
                <div id="HeaderLower">
                    %%Panel.SideCategoryList%%
                    %%Panel.PagesMenu%%
                </div>
            </div>
            <div class="plant-contact-banner">
                <div class="prose">
                    <h4>Have a question or need help?</h4>
                    <p>Call us Mon/Fri 8:00 to 5:00 CT <br>
                    713-864-1802 <br>
                    <a class="standard" href="mailto:lissette@greencaretx.com?Subject=I%20have%20a%20question%20about%20an%20HIP%20product" target="_top">Email Us</a>
                    </p>
                </div>
            </div>