<p style="font-size: 20px;"><span style="color: #E02020;"><em><strong>Please Note:</strong></em></span> Due to global supply-chain issues, our container selection is very limited right now. Please contact us before making your purchase so that we can confirm product availabilities.</p>
<p style="font-size: 20px; color: #569300;">Shopping for plant containers is easy!</p>
<p style="font-size: 18px;">All of our plant pots come in 3 standard sizes : </p>
<ul id="pot-sizes">
	<li><strong>Medium</strong> fits 10" plants</li>
	<li><strong>Large</strong> fits 14" plants</li>
	<li><strong>XLarge</strong> fits 17" plants</li>
</ul>
<p style="font-size: 18px; margin-bottom: 25px;">We have separated our plant containers into 2 sections so you can browse them easily. Most of planters in our selection come in several colors and finishes.</p>

<table id="shop-for-pots" class="shop-for-pots">
	<tbody>
		<tr>
			<td><a href="/shop-for-pots/office-and-loft-collection/"><img class="__mce_add_custom__" title="Shop Office &amp; Loft Collection" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/loft-collection.jpg" alt="Shop Office &amp; Loft Collection" width="220" height="220" /><span>Office &amp; Loft Collection</span></a></td>
			<td><a href="/shop-for-pots/home-collection/"><img class="__mce_add_custom__" title="Shop Home Collection" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/home-collection.jpg" alt="Shop Home Collection" width="220" height="220" /><span>Home Collection</span></a></td>
			<td><!-- <a href="/shop-for-pots/anduze-vase/"><img class="__mce_add_custom__" title="Shop Anduze Vase" src="https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/anduze-vase.jpg" alt="Shop Anduze Vase" width="220" height="220" /><span>Anduze Vase</span></a> --></td>
		</tr>
	</tbody>
</table>

