.customSidebar {
	.customSidebar-panel {
		ul {
			padding: 0;
			margin: 0;

			li {
				margin-bottom: 10px;
				display: block;

				a {
					color: $link-blue;
					font-size: 14px;

					&:hover {
						color: $link-blue-hover;
						text-decoration: underline;
					}
				}
			}
		}
	}

	#usa-grown {
		text-align: center;
		padding-top: 10px;
		margin-bottom: 20px;

		img {
			width: 80px;
			height: auto;
		}
	}
}

.customSidebar {
	width: 215px;
	float: left;
	padding-top: 20px;
}

.customSidebar-panel {
	background: #f9f9f9;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: $z-1;
	padding: 8px;

	.label {
		// color: $green;
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 12px;
		font-weight: bold;
	}

	p,
	address {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 12px;
	}

	address {
		margin-bottom: 0;
		font-style: normal;
	}

	a {
		color: $link-blue;

		&:hover {
			color: $link-blue-hover;
			text-decoration: underline;
		}
	}
}
