@import "../../_settings.scss";

.Breadcrumb {
	color: #000;
}


.Breadcrumb a {
	color: #000;

	&:hover {
		color: $link-blue;
	}
}



a.standard {
	color: $primary-green;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: $link-blue;
	}
}