@import "../../_settings.scss";

.Breadcrumb,
.Breadcrumb a {
	color: #000;
}

a.standard {
	color: $primary-green;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: #2199E8;
	}
}