@import "../../_settings.scss";

.plant-header-contact-banner {
	background: #fff url('https://cdn3.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/plant-header-contact-banner.jpg') center center/contain no-repeat;
	width: 100%;
	min-height: 120px;
	margin-top: 130px;

	.prose {
		padding: 12px 22px;
		background-color: #fff;
		margin-top: 15px;
		width: 260px; 
		margin-right: 80px; 
		float: right;

		h4 {
			font-size: 14px;
			text-transform: none;
		}
	}
}

