<p style="font-size: 20px; color: #569300;">We deliver, set up and install your entire plant purchase, to both home and office locations.</p>
<p style="font-size: 18px;">For help or advice, call Lissette at 713-864-1802. She can guide you throughout your plant perusing and purchasing experience.</p>
<p style="font-size: 18px; margin-bottom: 25px;">We are confident you won't find fresher and better quality indoor plants anywhere else. We strive to provide the highest customer satisfaction, and will refund your purchase if we fail to meet these standards.</p>

<table id="shop-for-plants" class="shop-for-plants">
	<tbody>
		<tr>
			<td><a href="/shop-for-plants/by-light-level/"><img class="__mce_add_custom__" title="Shop by Light Level" src="/product_images/uploaded_images/light-level.jpg" alt="Shop by Light Level" width="220" height="220" /><span>Shop By Light Level</span>Low to High Light</a></td>
			<td><a href="/shop-for-plants/by-plant-size/"><img class="__mce_add_custom__" title="Shop by Plant Size" src="/product_images/uploaded_images/plant-size.jpg" alt="Shop by Plant Size" width="220" height="220" /><span>Shop By Plant Size</span>Table Top to Specimen</a></td>
			<td><a href="/shop-for-plants/by-plant-type/"><img class="__mce_add_custom__" title="Shop by Plant Type" src="/product_images/uploaded_images/plant-type.jpg" alt="Shop by Plant Type" width="220" height="220" /><span>Shop By Plant Type</span>Palms, Succulents...</a></td>
		</tr>
	</tbody>
</table>
