@import "../_settings.scss";


.customSidebar {

	.customSidebar-panel {
		ul {
			padding: 0;
			margin: 0;

			li {
				margin-bottom: 10px;
				display: block;

				a {
					color: #569300;
					font-size: 14px;

					&:hover {
						color: #777;
						text-decoration: underline;
					}
				}
			}
		}
	}

	#bbb-link {
		text-align: center;
		padding-top: 10px;
		margin: 0 auto 15px;

		img {
			width: 120px;
			height: auto;
		}
	}

	#usa-grown {
		text-align: center;
		padding-top: 10px;
		margin-bottom: 20px;

		img {
			width: 80px;
			height: auto;
		}
	}

	// .customSidebar-panel#delivery {
	// 	p {
	// 		color: #000;

	// 		a {
	// 			color: #569300;

	// 			&:hover {
	// 				color: #777;
	// 				text-decoration: underline;
	// 			}
	// 		}
	// 	}
	// }

	// .customSidebar-panel#new-store {
		// p,
		// a {
		// 	font-size: 16px;
		// 	margin-bottom: 10px;
		// }

		// a {
		// 	color: $primary-green;

		// 	&:hover {
		// 		color: #777;
		// 		text-decoration: underline;
		// 	}
		// }
	// }
}

.customSidebar {
	width: 215px; 
	float: left; 
	padding-top: 20px;
}

.customSidebar-panel {
	background: #F4F4F4;
	margin-bottom: 16px;
	box-shadow: $z-1;
	padding: 8px;

	.label {
		color: $primary-green;
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 12px;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 16px;
	}

	p.small {
		font-size: 14px;
		line-height: 1.3;
	}

	address {
		font-size: 16px;
		font-style: normal;
		line-height: 1.3;
	}

	a {
		color: $primary-green;

		&:hover {
			color: #777;
			text-decoration: underline;
		}
	}
}
